@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter&display=swap');

.bg{
    background-color: #49DB72!important;
}

Navbar {
    font-family: 'Inter', sans-serif;
}

.company-name {
    color: white!important;
    font-weight: 800;
    line-height: 29px;
}

.nav-item {
    background-color: white;
    width: 120px;
    margin-inline: 10px;
    text-align: center;
    border-radius: 40px;
    font-weight: 600;
    line-height: 29px;
    font-size: 1rem;
    color: black!important;
    margin-top: 5px;
    /* text-transform: uppercase; */
}