.onerow{
    /* display: grid;
    padding: 10px;
    gap: 0.1rem;
    grid-auto-flow: column; */
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    width: 516px;
    margin-left: 300px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  
  }

  .tworow{
    /* display: grid;
    padding: 10px;
    gap: 0.1rem;
    grid-auto-flow: column; */
    margin-top: 160px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    width: 516px;
    margin-left: 300px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  
  }

  .threerow{
    /* display: grid;
    padding: 10px;
    gap: 0.1rem;
    grid-auto-flow: column; */
    margin-top: 160px;
    margin-bottom: 0px;
    padding-bottom: 100px;
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    width: 516px;
    margin-left: 300px;
    align-items: center;
    justify-content: center;
    
  
  }

#g{
    background-color: #80EE6A  ;
    min-height: 250px;
    min-width: 600px;
    border-radius: 20px;
   
}

#y{
    background-color: #EAEE6A ;
    min-height: 250px;
    min-width: 600px;
    border-radius: 20px;
   
}

.container3{
    padding: 0;
}

.back2{
    
     /* Full height */
     height: 100%; 

     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     padding: 0;
}